.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.contact .content {
    display: flex;
    justify-content: space-between;
}

.contact .content form {
    flex-basis: 70%;
}

.contact .content form .main-input {
    padding: 20px;
    display: block;
    border: 1px solid #CCC;
    margin-bottom: 30px;
    width: 100%;
}

.contact .content form .main-input:focus {
    outline: none;
}

.contact .content form textarea.main-input {
    height: 200px;
    resize: vertical;
}

.contact .content form input[type="submit"] {
    border: 1px solid var(--main-color);
    color: var(--main-color);
    padding: 20px;
    /* border: none; */
    background-color: transparent;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
    transition: var(--transition-duration);
}

.contact .content form input[type="submit"]:hover {
    background-color: var(--main-color);
    color: white;
}

.contact .content .info {
    flex-basis: 25%;
}

.contact .content .info h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
}

.contact .content .info .phone {
    display: block;
    color: #777;
    margin-bottom: 10px;
}

.contact .content .info h4:nth-of-type(2) {
    margin-top: 90px;
}

.contact .content .info address {
    color: #777;
    line-height: 2;
}

@media (max-width: 767px) {
    .contact .content  {
        flex-direction: column;
    }

    .contact .content .info {
        order: -1;
        text-align: center;
    }

    .contact .content .info h4:nth-of-type(2) {
        margin-top: 30px;
    }

    .contact .content .info address {
        margin-bottom: 40px;
    }
}