.landing {
    min-height: 100vh;
    /* background-image: url(../../Images/landing.webp); */
    background-size: cover;
    background-position: center;
    background-color: #1F2021;
    position: relative;
    transition: background-image var(--transition-duration) ease-in-out;
}

.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}

.landing .text .content {
    max-width: 500px;
}

.landing .text .content h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}

.landing .text .content p {
    font-size: 14px;
    line-height: 2;
}

.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
    height: 75px;
    align-content: center;
    cursor: pointer;
    transition: var(--transition-duration);
}

.landing .change-background:hover {
    background-color: rgba(255, 255, 255, 20%);
}

.landing .change-background-left{
    left: 30px;
}

.landing .change-background-right{
    right: 30px;
}

.landing .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}

.landing .bullets li {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.landing .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

@media (max-width: 767px) {
    .landing .text {
        width: 100%;
        padding: 20px;
    }

    .landing .text .content {
        max-width: 100%;
    }

    .landing .text .content h2 {
        font-size: 24px;
    }

    .landing .change-background{
        display: none;
    }
}

/* Animation */
