.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portfolio .shuffle {
    display: flex;
    justify-content: center;
}

.portfolio .shuffle li {
    padding: 10px;
    cursor: pointer;
    transition: var(--transition-duration);
}

.portfolio .shuffle a {
    text-decoration: none;
    color: black;
}

.portfolio .shuffle li.active {
    background-color: var(--main-color);
    color: white;
}

.portfolio .imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.portfolio .imgs-container .box {
    position: relative;
    overflow: hidden;
}

.portfolio .imgs-container .box:hover .caption {
    bottom: 0;
}

.portfolio .imgs-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
}

.portfolio .imgs-container .box img {
    max-width: 100%;
    transition: var(--transition-duration);
}

.portfolio .imgs-container .box .caption {
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: var(--transition-duration);
    bottom: -100%;
}

.portfolio .imgs-container .box .caption h4 {
    font-weight: normal;
    margin-bottom: 10px;
}

.portfolio .imgs-container .box .caption p {
    color: var(--main-color);
}

.portfolio .more {
    border: 1px solid var(--main-color);
    color: var(--main-color);
    padding: 15px 20px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    text-decoration: none;
    text-transform: uppercase;
    transition: var(--transition-duration);
}

.portfolio .more:hover {
    background-color: var(--main-color);
    color: white;
}

@media (min-width: 768px) {
    .portfolio .imgs-container .box {
        flex-basis: 50%;
    }
}

@media (min-width: 1199px) {
    .portfolio .imgs-container .box {
        flex-basis: 25%;
    }
}