.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.pricing .plans .box {
    background-color: #FCFCFC;
    text-align: center;
}

.pricing .plans .box .head {
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.pricing .plans .box h3 {
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.pricing .plans .box span {
    font-size: 60px;
    font-weight: bold;
    /* position: relative; */
}

.pricing .plans .box span::before {
    content: "$";
    font-size: 25px;
    position: relative;
    top: -40px;
    margin-right: 15px;
    font-weight: normal;
}

.pricing .plans .box span::after {
    content: "/Mo";
    font-size: 25px;
    position: relative;
    right: -20px;
    font-weight: normal;
}

.pricing .plans .box ul {
    border-bottom: 1px solid var(--main-color);
}

.pricing .plans .box ul li {
    padding: 20px;
    position: relative;
}


.pricing .plans .box ul li:not(:last-child)::after {
    content: "";
    width: 120px;
    height: 1px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.pricing .plans .box .foot a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: 30px auto;
    color: black;
    transition: var(--transition-duration);
}

.pricing .plans .box .foot a:hover {
    background-color: var(--main-color);
    color: white;
}

.pricing .contact-text {
    text-align: center;
    margin: 50px auto 20px;
    font-size: 20px;
}

.pricing .contact-link {
    display: block;
    width: fit-content;
    margin: 20px auto;
    border: 1px solid var(--main-color);
    color: black;
    padding: 15px 30px;
    text-decoration: none;
    transition: var(--transition-duration);
}

.pricing .contact-link:hover {
    background-color: var(--main-color);
    color: white;
}