.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .srv-box {
    display: flex;
}

.services .srv-box i {
    margin-right: 50px;
}

.services .srv-box .text h3 {
    margin-bottom: 30px;
    color: var(--main-color);
}

.services .srv-box .text p {
    line-height: 2;
    color: var(--paragraph-color);
}

@media (min-width: 768px) {
    .services .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 60px;
    }
}

@media (max-width: 767px) {
    .services .srv-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }

    .services .srv-box i {
        margin: 0 auto 30px;
    }
}