.subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url("../../Images/subscribe.webp");
    background-size: cover;
    position: relative;
    color: white;
}

.subscribe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 50%);
}

.subscribe .container {
    position: relative;
    display: flex;
    align-items: center;
}

.subscribe form {
    display: flex;
    position: relative;
    width: 2000px;
    max-width: 100%;
}

.subscribe form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}

.subscribe form input[type="email"] {
    border: 1px solid white;
    background: none;
    padding: 20px 20px 20px 60px;
    caret-color: var(--main-color);
    width: calc(100% - 130px);
    border-right: none;
}

.subscribe form input[type="submit"] {
    width: 130px;
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    text-transform: uppercase;
    border-left: none;
}

.subscribe form input[type="email"]:focus, .subscribe form input[type="submit"]:focus {
    outline: none;
}

.subscribe form::placeholder {
    color: white;
}

.subscribe p {
    line-height: 2;
    margin-left: 50px;
}

@media (max-width: 991px) {
    .subscribe .container {
        flex-direction: column;
    }

    .subscribe p {
        margin: 30px 0 0;
    }
}